<div class="card shadow-sm">
    <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em"><%= book.title %></text></svg>

    <div class="card-body">
        <p class="card-text"><%= book.description %></p>
        <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
                <a href="/api/books/<%= book.id %>/download" type="button" class="btn btn-sm btn-outline-secondary">Скачать</a>
                <a href="/books/<%= book.id %>/" type="button" class="btn btn-sm btn-outline-secondary">Изменить</a>
            </div>
            <small class="text-muted"><%= book.authors %></small>
        </div>
    </div>
</div>
